extends template.pug

block content
  div.profile
    div 
      img(src=user.img, alt="profile picture")
      h2 #{user.name} #{user.lastname}
      p #{user.status} 
    //- formulier voor profile editten: user info
    form(action="/profile/edit", method="post",)
       h3 Edit Info
       label(for="firstName") First Name
       input(type="text" id="firstName" name="name" value=user.name)
       label(for="lastName") Last Name
       input(type="text" id="lastName" name="lastName" value=user.lastName)
       label(for="age") Age
       input(type="number" id="age" name="age" value=user.age)
       //- div voor css divider
       div.divider
       //- formulier voor profile editten: dog preferences
       label(for="dogAge") Max dog age
       input(type="number" id="dogAge" name="maxAge" value=user.maxAge)
       label(for="breed") preferred breeds
       div(class="col-sm-2")
        select(name="breed", id="breed", multiple="multiple", size="3")
          each breed in breeds
            +ras(breed.name)
       input(type="hidden", name="userId", value=user._id)
       button(type="submit", class="profile-button") Submit edit

  script(src="scripts/profile.js", type="module")
  script(src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script.
     document.getElementsByTagName("select").multipleSelect({multiple: true, multipleWidth: 60,});
  